<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Explorer</title>
    <link rel="stylesheet" href="/style">
    <link rel="icon" type="image/svg+xml" href="/img/icon.svg">
</head>
<body>
    <ui>
        <script src="/ui/navbar.js"></script>
        <div class="full adapt">
            <div>
                <div>
                    <h2>Math Explorer</h2>
                    <h5>The place where you can visualize and listen to all sort of fractals, formulas and even more</h5>
                </div>
                <row>
                    <select id="elementtoselect">
                        <option value="">Select something</option>
                        <optgroup label="Fractals">
                            <option value="1,fractal">Mandelbrot</option>
                            <option value="2,fractal">Burning Ship</option>
                            <option value="3,fractal">Feather</option>
                            <option value="4,fractal">SFX</option>
                            <option value="5,fractal">Henon</option>
                            <option value="6,fractal">Duffing</option>
                            <option value="7,fractal">Ikeda</option>
                            <option value="8,fractal">Chirikov</option>
                        </optgroup>
                    </select>
                    <button id="bt" class="styleBt">Visualize</button>
                </row>
            </div>
            <div>
                <img id="index_img" alt="fractal xample" src="/img/fractal_xample.png">
            </div>
        </div>
        <script src="/ui/footer.js"></script>
    </ui>
    <script src="/script/startup.js"></script>
    <script>
        const bt = document.getElementById("bt")
        const sele = document.getElementById("elementtoselect")
        bt.addEventListener("click", () => {
            if(sele.value == "")
                return
            const values = sele.value.trim().split(",")
            const url = "/view?default_element=" + values[0] + "&type=" + values[1]
            location.href = url
        })
    </script>
</body>
</html>