<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/render_style">
    <title>Render</title>
</head>
<body>
    <canvas id="rendering"></canvas>
    <script src="/script/updateTheme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/14.8.1/math.js"></script>
    <script src="/script/logic/BaseMath.js"></script>
    <script src="/script/render.js"></script>
</body>
</html>