<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="/style">
    <link rel="icon" type="image/svg+xml" href="/img/icon.svg">
</head>
<body>
    <ui>
        <script src="/ui/navbar.js"></script>
        <div class="full adapt">
            <div>
                <div>
                    <h2>Upload elements</h2>
                    <h5>Chose the files that contains the elements you wanna display, or just drop them</h5>
                </div>
                <row>
                    <lable for="typefile">Type of elements :</lable>
                    <select id="typefile">
                        <option value="fractal">Fractal</option>
                    </select>
                </row>
            </div>
            <div id="root_code">
                <container id="windo">
                    <row class="start">
                        <dot style="background-color: var(--code_root)"></dot>
                        <dot style="background-color: var(--code_function);"></dot>
                        <dot style="background-color:  var(--code_message);"></dot>
                    </row>
                    <code id="view_input">
                        <intr>./$></intr><func>choose_file</func>()<br><br>
                        <intr>./$>choose_file$></intr><func>specify</func>(<params>.mexplo</params>,<params> .json</params>)<br><br>
                        <intr>./$></intr><func>start</func>()
                    </code>
                </container>
                <input id="file_input" multiple="true" hidden type="file" accept=".json, .mexplo">
            </div>
        </div>
        <script src="/ui/footer.js"></script>
    </ui>
    <script src="/script/startup.js"></script>
    <script src="/script/uploader.js"></script>
</body>
</html>