<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="/style">
    <link rel="icon" href="./img/favicon.png">
</head>
<body>
    <ui>
        <script src="./ui/navbar.js"></script>
        <div class="full adapt">
            <div>
                <div>
                    <h2>Upload an element</h2>
                    <h5>Chose a file that contains the element you wanna display <kbd>(.mexploer files)</kbd></h5>
                </div>
                <row>
                    <lable for="typefile">Type of element :</lable>
                    <select id="typefile">
                        <option value="fractal">Fractal file</option>
                    </select>
                </row>
            </div>
            <div>
                <input type="file" accept=".json, .mexplorer">
            </div>
        </div>
        <script src="./ui/footer.js"></script>
    </ui>
    <script src="./script/startup.js"></script>
</body>
</html>