<!DOCTYPE html>
<html lang="en" <%if(locals.default_element) {%>
        default_element="<%=locals.default_element%>"
    <%}%>
    <%if(locals.type) {%>
        type="<%=locals.type%>"
    <%}%>
    >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer</title>
    <link rel="stylesheet" href="/style">
    <link rel="icon" type="image/svg+xml" href="/img/icon.svg">
</head>
<body>
    <ui>
        <script src="./ui/navbar.js"></script>
        <div class="full adapt">
            <% if(locals.default_element && locals.type) { %>
                <div class="render_cont">
                    <iframe id="render_frame" src="/render" frameborder="0"></iframe>
                    <row class="floatBar">
                        <button class="styleBt floatBt" style="background-color:  var(--code_message);" id="screenshot">
                            <object data="/img/screenshot.svg" type="image/svg+xml"></object>
                        </button>
                        <%if(locals.type == "fractal") {%>
                            <button class="styleBt floatBt fixBt" style="background-color: var(--code_message);" id="juliaMode"><h6>Julia</h6></button>
                        <%}%>
                        <row>
                            <button class="styleBt floatBt" style="background-color:  var(--code_root);" id="zoomIn">
                                <object data="/img/add.svg" type="image/svg+xml"></object>
                            </button>
                            <button class="styleBt floatBt" style="background-color:  var(--code_function);" id="zoomOut">
                                <object data="/img/minus.svg" type="image/svg+xml"></object>
                            </button>                        
                        </row>
                    </row>
                </div>
                <div class="viewSettings">
                    <row>
                        <label for="mode">Render mode:</label>
                        <select id="mode">
                            <option value="1">CPU</option>
                            <option value="2">GPU</option>
                        </select>
                    </row>
                    <row>
                        <label for="autorender">Autorendering:</label>
                        <select id="autorender">
                            <option value="1">Auto</option>
                            <option value="2">Manual</option>
                        </select>
                    </row>
                    <row>
                        <button id="sound" class="styleBt">Sound: On</button>
                        <button id="forceRender" class="styleBt">Rerender</button>
                    </row>
                </div>
            <%} else { %>
                <h2>Nothing to render</h2>
            <% } %>
        </div>
        <script src="./ui/footer.js"></script>
    </ui>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/14.8.1/math.js"></script>
    <script src="./script/startup.js"></script>
    <script src="./script/viewer.js"></script>
</body>
</html>