<!DOCTYPE html>
<html lang="en" <%if(locals.default_element) {%>
        default_element="<%=locals.default_element%>"
    <%}%>
    <%if(locals.type) {%>
        type="<%=locals.type%>"
    <%}%>
    >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer</title>
    <link rel="stylesheet" href="/style">
    <link rel="icon" href="./img/favicon.png">
</head>
<body>
    <ui>
        <script src="./ui/navbar.js"></script>
        <div class="full adapt">
            <% if(locals.default_element && locals.type) { %>
                <iframe id="render_frame" src="/render" frameborder="0"></iframe>
                <row>
                    <label for="mode">Render mode</label>
                    <select id="mode">
                        <option value="1">CPU</option>
                        <option value="2">GPU</option>
                    </select>
                </row>
            <%} else { %>
                <h2>Nothing to render</h2>
            <% } %>
        </div>
        <script src="./ui/footer.js"></script>
    </ui>
    <script src="./script/startup.js"></script>
    <script src="./script/viewer.js"></script>
</body>
</html>