@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

*:not(canvas)
{
    transition: all var(--timing) ease;
    user-select: none;
    -webkit-user-drag: none;
    font-family: "Google Sans Code";
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--opposite);
    text-align: center;
    object-fit: cover;
    -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar
{
    display: none;
}

/*Theme dark false / Theme light true*/
:root[theme='true']
{
    --back: white;
    --opposite: black;
    --code_root: red;
    --code_function: limegreen;
    --code_message: magenta;
    .dot object
    {
        filter: invert(100%);
    }
}
:root[theme='false']
{
    --back: black;
    --opposite: white;
    --code_root: crimson;
    --code_function: green;
    --code_message: blueviolet;
    nav object
    {
        filter: invert(100%);
    }
}
:focus
{
    outline: none;
}
:root[ready="1"]
{
    --timing : 0.3s;
    --more_timing : 0.45s;
    --halftime : 0.2s;
    body { animation: appear var(--more_timing) ease forwards; }
}

/*Google font elements and animations*/
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 1000,
  'GRAD' 300,
  'opsz' 70
}

@keyframes appear {
    0%{
        opacity: 0;
        scale: 0.95;
    }
    50%{
        scale: 1.01;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}
@keyframes disappear {
    0%{
        opacity: 1;
        scale: 1;
    }
    50%{
        scale: 1.01;
    }
    100%{
        opacity: 0;
        scale: 0.95;
    }
}
@keyframes expandFullscreen {
    from {
        top: var(--start-top);
        left: var(--start-left);
        width: var(--start-width);
        height: var(--start-height);
        transform: none;
        border-radius: 15px;
    }
    to {
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        border-radius: 0px;
    }
}
@keyframes collapseFullscreen {
    from {
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        border-radius: 0px;
    }
    to {
        top: var(--start-top);
        left: var(--start-left);
        width: var(--start-width);
        height: var(--start-height);
        transform: none;
        border-radius: 15px;
    }
}
@keyframes bounceBack {
    0%   { scale: 1; }
    50%  { scale: 1.02; }
    100% { scale: 1;}
}
/**/

html
{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body
{
    opacity: 0;
    margin: 0 auto;
    width: 100%;
    display: flex;
    height: 100%;
    background-color: var(--back);
    overflow: hidden;
}
h1,h2,h3,h4,h5
{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    margin: 0;
    font-weight: 600;
}
h4,h5,h6
{
    font-weight: 400;
}
h3
{
    font-weight: 800;
}
a
{
    text-decoration: none;
    font-weight: 800;
    font-style: italic;
}
.dot
{
    height: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 10px 0px 0px 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    position: relative;
}
.dot svg
{
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    transform-origin: center center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.dot object
{
    width: 20px;
    height: 20px;
    pointer-events: none;
}
.dot:active
{
    scale: 0.9;
}
.start
{
    justify-content: flex-start;
    width: 100%;
    gap: 0px;
}
.dragover
{
    scale: 1.02;
}
code
{
    border-radius: 10px;
    background-color: var(--opposite);
    color: var(--back);
    padding: 10px;
    text-align: left;
    align-items: flex-start;
    overflow: auto;
    line-height: 30px;
    margin: 15px;
    text-rendering: optimizeLegibility;
    cursor: pointer;
    transition: all var(--halftime) ease;
    z-index: 3;
}
code:active
{
    scale: 0.95;
}
code *
{
    pointer-events: none;
}
nav
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    border: solid var(--opposite) 3px;
    border-radius: 20px;
    margin: 15px 10px;
}
nav row
{
    margin: 0px 20px;
    min-height: 70px;
}
object
{
    width: 200px;
    height: auto;
    pointer-events:none;
}
nav object
{
    width: 25px;
}
button
{
    display: flex;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
img:active
{
    scale: 0.95;
}
nav img:active, button:active
{
    scale: 0.9;
    filter:brightness(65%);
}
div, ui, row
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.adapt
{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
ui
{
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 1;
    overflow-x: hidden;
}
row
{
    flex-direction: row;
    gap: 25px;
}
div
{
    margin: 10px;
}
div img
{
    border-radius: 20px;
    border: dashed var(--opposite) 5px;
}
foot
{
    margin-bottom: 10px;
}
.styleBt
{
    appearance: base-select;
    width: fit-content;
    padding: 7px;
    border: dashed var(--opposite) 3px;
    border-radius: 10px;
    background-color: transparent;
    margin: 10px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
}
.styleBt:active
{
    scale: 0.9;
}
select,input,button, nav img
{
    cursor: pointer;
}
intr
{
    color: var(--code_root);
}
func
{
    color: var(--code_function);
    word-break: keep-all;
}
params
{
    color: var(--code_message);
    word-break: normal;
}
iframe
{
    width: 700px;
    margin: 10px;
    height: 400px;
    border: dashed var(--opposite) 3px;
    border-radius: 15px;
}
select
{
    appearance: base-select;
    width: fit-content;
    padding: 8px;
    border: solid var(--opposite) 3px;
    border-radius: 10px;
    margin: 10px;
    font-size: 14px;
    font-weight: 800;
    min-width: 150px;
}
select:active
{
    scale: 0.95;
}
::picker(select)
{
    appearance: base-select;
    background-color: var(--back);
    padding: 5px;
    border: solid var(--opposite) 3px;
    font-weight: 400;
    border-radius: 10px;
    margin: 5px;
}
select::picker-icon
{
    transition: var(--timing) rotate ease;
}
select:open::picker-icon 
{
    rotate: 180deg;
}
optgroup
{
    font-weight: 800;
}
.full
{
    width: 100%;
    height: 100%;
}
container
{
    background-color: var(--back);
    border: solid var(--opposite) 3px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    min-height: 200px;
    max-width: 400px;
    max-height: 350px;
    transition: all var(--halftime) ease-out;
    z-index: 2;
    position: relative;
}
.fullscreen 
{
    border: solid var(--back) 3px;
    z-index: 3;
    transition: all var(--halftime) ease-in;
}
.fullscreen-placeholder 
{
    visibility: hidden;
    pointer-events: none;
}
.fullscreen-bounce 
{
    animation: bounceBack var(--halftime) ease;
}
.fullscreen-mid
{
    height: 90%;
}
@media (orientation: portrait) {
    nav row h3
    {
        display: none;
    }
    .full
    {
        flex-direction: column;
    }
    .adapt
    {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    div img
    {
        max-width: 300px;
        aspect-ratio: 1/1;
    }
    iframe
    {
        max-width: 300px;
    }
    container
    {
        aspect-ratio: 4/3;
        width: 80%;
        min-height: 0px;
        min-width: 300px;
    }
}
@media (max-height: 470px) {
    .full
    {
        height: auto;
    }
}
@media (hover: hover)
{
    .dot:hover
    {
        scale: 1.1;
    }
    nav:hover
    {
        scale: 1.01;
        filter: blur(0.5px);
    }
    container:not(.fullscreen):hover
    {
        scale: 1.02;
    }
}